.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ff8a00;
    color:white;
}
.Button:hover{
    background-color: #c97213;
    cursor: pointer;
}